.mobeegen-tabularContainer
{
	min-width:800px;
	padding:10px;
	
}

.mobeegen-tabularContainer h1, .mobeegen-tabularContainer h2, .mobeegen-tabularContainer h3
{
	font:Tahoma, Helvetica, Arial, Sans-Serif;
	font-size:150%;
	padding:0; margin-top:0;
	color: #222; text-shadow: 1px 1px 0px #aaa;
}

.mobeegen-tabular
{
	border:1px solid #777;
	border-spacing:5px;
	border-collapse:collapse;
	background:#e9e9e9;
	width:100%;
}

.mobeegen-tabular td
{
	padding:5px;
	border:1px solid #777;
	background:#f4f4f4;
}

.mobeegen-tabular th
{
	padding:5px;
	border:1px solid #777;
	background:#b9b9b9 url('images/tabular.header.jpg') repeat-x top;
}

.mobeegen-tabular th.sorted.ascending:after {
    content: "  \2191";
}

.mobeegen-tabular th.sorted.descending:after {
    content: " \2193";
}

.mobeegen-tabular .table-rawHtml
{
	
}
